In [2]:
import numpy as np
import pandas as pd
# import tensorflow as tf
# from tensorflow.keras import layers

In [9]:
# A lot of columns. Display them all.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [10]:
csv_file = 'slim_80k_utf.csv'
df = pd.read_csv(csv_file)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300,36 months,12.62,77.08,C,C1,NaN,NaN,OWN,10000.0,Not Verified,Jun-17,Current,n,NaN,credit_card,Credit card refinancing,148xx,NY,21.61,0,Sep-85,1,NaN,NaN,4,0,3911,55.1,6,w,2029.91,2029.91,382.99,382.99,270.09,112.90,0.0,0.0,0.0,Dec-17,77.08,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,3911,0,0,0,NaN,0,NaN,1,2,2315,55.0,7100.0,1,0,2
1,112290210,NaN,16000,16000,16000,60 months,12.62,360.95,C,C1,teacher,10+ years,MORTGAGE,94000.0,Not Verified,Jun-17,Current,n,NaN,debt_consolidation,Debt consolidation,021xx,MA,25.61,0,Jun-92,0,NaN,NaN,9,0,33752,105.8,26,w,14813.07,14813.07,2060.09,2060.09,1186.93,873.16,0.0,0.0,0.0,Dec-17,360.95,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,234457,2,0,0,26.0,11078,69.0,3,5,1962,94.0,31900.0,0,6,1
2,112436985,NaN,6025,6025,6025,36 months,15.05,209.01,C,C4,Front Office,7 years,MORTGAGE,46350.0,Not Verified,Jun-17,Current,n,NaN,home_improvement,Home improvement,018xx,MA,8.88,0,Jun-02,0,NaN,NaN,11,0,12425,44.9,27,w,5340.82,5340.82,1032.46,1032.46,684.18,348.28,0.0,0.0,0.0,Dec-17,209.01,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,121311,1,1,2,10.0,0,NaN,1,2,1950,45.0,27700.0,1,5,3
3,112439006,NaN,20400,20400,20400,36 months,9.44,652.91,B,B1,Manager,10+ years,RENT,44000.0,Source Verified,Jun-17,Current,n,NaN,car,Car financing,913xx,CA,27.06,0,Jan-07,1,NaN,NaN,15,0,8769,18.7,19,w,17898.81,17898.81,3237.80,3237.80,2501.19,736.61,0.0,0.0,0.0,Dec-17,652.91,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,62335,1,1,1,6.0,53566,95.0,1,2,4240,60.0,46900.0,1,1,1
4,112438929,NaN,13000,13000,13000,36 months,11.99,431.73,B,B5,Paramedic,10+ years,MORTGAGE,85000.0,Source Verified,Jun-17,Current,n,NaN,debt_consolidation,Debt consolidation,560xx,MN,6.79,1,Feb-02,0,16.0,NaN,5,0,6866,88.0,24,w,11460.66,11460.66,2137.00,2137.00,1539.34,597.66,0.0,0.0,0.0,Dec-17,431.73,Jan-18,Dec-17,0,16.0,1,Individual,NaN,NaN,NaN,0,0,15332,0,0,0,127.0,8466,72.0,0,1,2996,78.0,7800.0,0,0,0

In [21]:
df['desc'].fillna('None', inplace=True)
df['emp_title'].fillna('None', inplace=True)
df['emp_length'].fillna(0, inplace=True)

In [ ]:
df.drop(['member_id', 'column_nameB'], axis=1, inplace=True)

In [ ]:
# null = df[df.isnull().any(axis=1)]
# null = df[df['emp_length'].isnull()]
# query = df.query('Sales > 300 and Units < 18')

In [22]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300,36 months,12.62,77.08,C,C1,None,0,OWN,10000.0,Not Verified,Jun-17,Current,n,None,credit_card,Credit card refinancing,148xx,NY,21.61,0,Sep-85,1,NaN,NaN,4,0,3911,55.1,6,w,2029.91,2029.91,382.99,382.99,270.09,112.90,0.0,0.0,0.0,Dec-17,77.08,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,3911,0,0,0,NaN,0,NaN,1,2,2315,55.0,7100.0,1,0,2
1,112290210,NaN,16000,16000,16000,60 months,12.62,360.95,C,C1,teacher,10+ years,MORTGAGE,94000.0,Not Verified,Jun-17,Current,n,None,debt_consolidation,Debt consolidation,021xx,MA,25.61,0,Jun-92,0,NaN,NaN,9,0,33752,105.8,26,w,14813.07,14813.07,2060.09,2060.09,1186.93,873.16,0.0,0.0,0.0,Dec-17,360.95,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,234457,2,0,0,26.0,11078,69.0,3,5,1962,94.0,31900.0,0,6,1
2,112436985,NaN,6025,6025,6025,36 months,15.05,209.01,C,C4,Front Office,7 years,MORTGAGE,46350.0,Not Verified,Jun-17,Current,n,None,home_improvement,Home improvement,018xx,MA,8.88,0,Jun-02,0,NaN,NaN,11,0,12425,44.9,27,w,5340.82,5340.82,1032.46,1032.46,684.18,348.28,0.0,0.0,0.0,Dec-17,209.01,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,121311,1,1,2,10.0,0,NaN,1,2,1950,45.0,27700.0,1,5,3
3,112439006,NaN,20400,20400,20400,36 months,9.44,652.91,B,B1,Manager,10+ years,RENT,44000.0,Source Verified,Jun-17,Current,n,None,car,Car financing,913xx,CA,27.06,0,Jan-07,1,NaN,NaN,15,0,8769,18.7,19,w,17898.81,17898.81,3237.80,3237.80,2501.19,736.61,0.0,0.0,0.0,Dec-17,652.91,Jan-18,Dec-17,0,NaN,1,Individual,NaN,NaN,NaN,0,0,62335,1,1,1,6.0,53566,95.0,1,2,4240,60.0,46900.0,1,1,1
4,112438929,NaN,13000,13000,13000,36 months,11.99,431.73,B,B5,Paramedic,10+ years,MORTGAGE,85000.0,Source Verified,Jun-17,Current,n,None,debt_consolidation,Debt consolidation,560xx,MN,6.79,1,Feb-02,0,16.0,NaN,5,0,6866,88.0,24,w,11460.66,11460.66,2137.00,2137.00,1539.34,597.66,0.0,0.0,0.0,Dec-17,431.73,Jan-18,Dec-17,0,16.0,1,Individual,NaN,NaN,NaN,0,0,15332,0,0,0,127.0,8466,72.0,0,1,2996,78.0,7800.0,0,0,0

In [24]:
df.groupby(["addr_state", "home_ownership"])["id"].count()

addr_state  home_ownership
AK          MORTGAGE            85
            OWN                 33
            RENT                61
AL          MORTGAGE           562
            OWN                159
            RENT               209
AR          MORTGAGE           365
            OWN                 95
            RENT               139
AZ          MORTGAGE          1016
            OWN                193
            RENT               742
CA          MORTGAGE          3714
            OWN                775
            RENT              5967
CO          MORTGAGE           950
            NONE                 1
            OWN                113
            RENT               668
CT          MORTGAGE           709
            OWN                149
            RENT               495
DC          MORTGAGE            46
            OWN                 19
            RENT               113
DE          MORTGAGE           126
            OWN                 28
            RENT                64
FL          MORTGAGE          2725
            OWN                741
            RENT              2342
GA          MORTGAGE          1554
            OWN                281
            RENT               765
HI          MORTGAGE            75
            OWN                 40
            RENT               188
ID          MORTGAGE           131
            OWN                 23
            RENT                67
IL          MORTGAGE          1772
            OWN                361
            RENT              1155
IN          MORTGAGE           944
            OWN                180
            RENT               359
KS          MORTGAGE           405
            OWN                 62
            RENT               188
KY          MORTGAGE           511
            OWN                119
            RENT               212
LA          MORTGAGE           504
            OWN                173
            RENT               218
MA          MORTGAGE           873
            OWN                167
            RENT               864
MD          MORTGAGE          1075
            OWN                173
            RENT               676
ME          MORTGAGE           153
            OWN                 28
            RENT                56
MI          MORTGAGE          1192
            OWN                322
            RENT               608
MN          MORTGAGE           802
            OWN                143
            RENT               480
MO          MORTGAGE           771
            OWN                134
            RENT               329
MS          MORTGAGE           288
            OWN                 84
            RENT                93
MT          MORTGAGE           109
            OWN                 25
            RENT                79
NC          MORTGAGE          1264
            OWN                266
            RENT               662
ND          MORTGAGE            75
            OWN                 31
            RENT                68
NE          MORTGAGE           230
            OWN                 41
            RENT               135
NH          MORTGAGE           223
            OWN                 45
            RENT               127
NJ          ANY                  1
            MORTGAGE          1285
            OWN                342
            RENT              1377
NM          MORTGAGE           207
            OWN                 59
            RENT               125
NV          MORTGAGE           537
            OWN                 77
            RENT               514
NY          MORTGAGE          2114
            OWN                792
            RENT              3813
OH          MORTGAGE          1582
            OWN                339
            RENT               780
OK          MORTGAGE           433
            OWN                113
            RENT               174
OR          MORTGAGE           391
            OWN                 64
            RENT               439
PA          MORTGAGE          1509
            OWN                395
            RENT               927
RI          MORTGAGE           171
            OWN                 45
            RENT               132
SC          MORTGAGE           611
            OWN                145
            RENT               228
SD          MORTGAGE            87
            OWN                 25
            RENT                42
TN          MORTGAGE           803
            OWN                151
            RENT               373
TX          MORTGAGE          3692
            OWN                927
            RENT              2074
UT          MORTGAGE           286
            OWN                 25
            RENT               180
VA          MORTGAGE          1260
            OWN                218
            RENT               768
VT          MORTGAGE            99
            OWN                 22
            RENT                43
WA          MORTGAGE           761
            OWN                103
            RENT               732
WI          MORTGAGE           626
            OWN                 89
            RENT               363
WY          MORTGAGE           100
            OWN                 13
            RENT                33
Name: id, dtype: int64